!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!src/**/build/
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.apk
*.class
*.ctxt
*.dSYM
*.dSYM.zip
*.ear
*.hmap
*.hprof
*.iml
*.ipa
*.jar
*.jks
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war
*.xcodeproj/*
*.zip
.aiassistant
.agent
.DS_Store
.build/
.cxx/
.externalNativeBuild/
.gradle/
.idea/
.kotlin/
.mtj.tmp/
Carthage/Build/
build/
captures/
deploymentTargetDropDown.xml
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
google-services.json
hs_err_pid*
/kotlin-js-store/
local.properties
misc.xml
node_modules/
output.json
playground.xcworkspace
render.experimental.xml
replay_pid*
timeline.xctimeline
xcuserdata/
